name: .NET

on:
  push:
    paths:
      - 'src/**'
  pull_request:
    paths:
      - 'src/**'

jobs:

  Build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
      with:
        submodules: recursive

    - name: Setup .NET
      uses: actions/setup-dotnet@main
      with:
        dotnet-version: '8.0'

    - name: Build
      run: dotnet publish ./src/WindowsInk --configuration Release --framework net8.0 -o ./build/WindowsInk

    - uses: actions/upload-artifact@main
      with:
        name: WindowsInk
        path: |
          ./build/WindowsInk/WindowsInk.dll
          ./build/WindowsInk/VMulti.dll
          ./build/WindowsInk/VoiD.dll
