name: Generate Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'The tag to create for the release'
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    name: Generate Release
    env:
      TAG: ${{ github.event.inputs.tag }}
    steps:
    - uses: actions/checkout@master
      with:
        submodules: recursive

    - name: Setup .NET
      uses: actions/setup-dotnet@main
      with:
        dotnet-version: '8.0'

    - name: Build
      run: bash ./build.sh

    - name: Create Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release create -d -t "WindowsInk v$TAG" "$TAG" ./build/WindowsInk.zip
